@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.container_principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  background: #101214;
  color: #fff;
  justify-content: center;
  position: relative;
  /* background: red; */
  overflow: hidden;
  height: auto;
}

.bubbles {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;

  z-index: 4000;
}

.bubbles span {
  position: relative;
  width: 12px;
  height: 12px;
  background: #6eccee;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #6eccee, 0 0 100px #6eccee;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}
.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

.container_info_home {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  /* background: red; */
  padding: 40px 0px;

  gap: 14px;
  /* position: relative; */
  /* background: red; */
  min-height: 100vh;
}

.container_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  /* max-width: 800px; */
  width: 100%;
  /* background: red; */

  padding: 0px 10px;
}

.text_home {
  /* max-width: 600px; */
  width: 100%;
  height: auto;
  text-align: left;
  color: #7f8793;
  font-size: 18px;
  text-align: center;
}

.title {
  font-weight: 900;
  font-family: "Roboto", serif;
  font-size: 35px;
  text-align: center;
  width: 100%;
  height: auto;
}

.container_image {
  max-width: 1080px;
  width: 100%;
  position: relative;
  display: inline-block;
  /* background: red; */
}

.character {
  width: 100%;
  position: relative;
  z-index: 1;
  /* Asegurando que la imagen tenga un contorno blanco difuso */
  /* filter: drop-shadow(
    0 0 20px rgba(255, 255, 255, 0.7)
  );
  border-radius: 8px;  */
}

.btn_discord_home {
  background: #5865f2;
}

.btn_jugar_home {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px; /* Ajusta según tus necesidades */
  height: 40px;
  text-decoration: none; /* Opcional, elimina el subrayado */
  background: #1f2137;
  border-radius: 8px; /* Opcional, diseño redondeado */
  overflow: visible;
  border: 1px solid #bb33ff;
}

.btn_players {
  background: #262626;
  max-width: 370px;
  width: 100%;
  color: #fff;
  height: 50px;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.container_btn_active {
  width: 22px;
  height: 22px;
  background: #1e6438;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_active {
  width: 12px;
  height: 12px;
  background: #16a34a;
  border-radius: 50%;
}

.container_btn_active img {
  width: 100%;
}

.separator {
  width: 3px;
  height: 25px;
  background: #404040;
  border-radius: 2px;
}

.container_btns_servidor {
  max-width: 460px;
  /* padding: 10px; */
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 30px;
  /* background: red; */
}

.container_principal_beneficios_home {
  width: 100%;
  height: auto;
  padding: 10px;
  padding-top: 100px;
}

.container_beneficios_home {
  max-width: 1200px;
  width: 100%;
  /* height: 500px; */
  /* background: red; */
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  gap: 50px;
}

.container_rombo {
  position: absolute;
  top: -100px;
  right: 50px;
  width: 330px;
  z-index: 0;
}

.container_rombo img {
  width: 100%;
}

.contariner_img_rol {
  width: 100%;
  max-width: 388px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.contariner_img_rol img {
  width: 100%;
}

.contariner_img_autoRol {
  width: 100%;
  max-width: 420px;
  z-index: 2;
}

.contariner_img_autoRol img {
  width: 100%;
}

.btn_servidor {
  width: 200px;
  height: 45px;
  background: #305ee3;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.btn_descubre_mas {
  width: 190px;
  height: 45px;
  background: transparent;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: 2px solid #b127f2;
}

@media (max-width: 534px) {
  .btn_servidor,
  .btn_descubre_mas {
    width: 100%;
  }
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

:root {
  --labs-sys-color-background: #111;
  --labs-sys-color-on-background: white;
  --base-speed: 4s;

  --labs-sys-color-grid: #fac4ff;
  --labs-sys-color-grid-glow: #df7373;
  --labs-sys-color-sun-1: #fdb428;
  --labs-sys-color-sun-2: #f672ca;
  --labs-sys-color-sun-glow: #b9f;

  --labs-sys-color-star: #f6c0c0;

  --color-palm-trunk: #333;
  --color-palm-leaf: #333;
  --color-palm-leaf-2: #b9f;
  --labs-sys-color-triangle: #6eccee;

  --labs-sys-color-volume: var(--labs-sys-color-triangle);
}

.kode-text {
  animation: kode-text 4s linear infinite;
  perspective: 40px;

  color: transparent; /* Hacemos el texto transparente para aplicar el degradado */
  font-size: 2.5em; /* Tamaño del texto */
  font-weight: bold; /* Estilo de fuente */
  text-align: center;
  background-image: linear-gradient(
    45deg,
    #b127f2,
    #305ee3
  ); /* Degradado de colores */
  -webkit-background-clip: text; /* Aplica el fondo solo al texto */
  background-clip: text; /* Aplica el fondo solo al texto */
  font-family: "Rock Salt", serif;
  font-weight: 400;
  font-style: normal;

  /* background: red; */
  width: 800px;
  height: auto;
  margin: 0 auto;
}

.kode-text:after {
  content: "";
  position: absolute;
  top: 8vmin;
  left: 1vmin;
  width: 48vmin;
  /* height: 14vmin; */
  background: repeating-radial-gradient(black, transparent 10vmin);
  mix-blend-mode: overlay;
  opacity: 0.2;
  transform: rotate(347deg);
}

@keyframes kode-text {
  from {
    --angle: 45deg;
    transform: translateY(-0vh);
  }

  49.5% {
    --angle: 360deg;
    transform: translateY(-1vh);
    filter: brightness(100%);
  }

  50% {
    --angle: 360deg;
    transform: translateY(-1vh) scaleY(0.1) skewX(253deg);
    filter: brightness(190%);
  }

  51% {
    --angle: 360deg;
    transform: translateY(-1vh) scaleY(0.5) skewY(37deg);
    filter: brightness(190%);
  }

  52% {
    --angle: 360deg;
    filter: brightness(190%);
    transform: translateY(-0vh);
  }

  to {
    --angle: 45deg;
    transform: translateY(-0vh);
  }
}

@media (max-width: 1291px) {
  .text_home,
  .title,
  .kode-text {
    text-align: center;
  }

  .kode-text {
    font-size: 23px;
  }

  .container_text {
    justify-content: center;
    align-items: center;
    /* background: red; */
    margin: 0 auto;
  }
  .container_image {
    margin: 0 auto;
  }
}

body {
  background-color: var(--labs-sys-color-background);
  color: var(--labs-sys-color-on-background);

  /* overflow: hidden; */
  color: var(--labs-sys-color-triangle);
}

.difuminar {
  position: absolute;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(180, 22, 22, 0) 0%, #101214 50%);
  bottom: -50px;
  z-index: 1;
  /* border: 1px solid red; */
}

.container_list_features {
  margin-top: 50px;
  height: auto;
  min-height: 100vh;
  width: 100%;
  /* background: #101214; */
  /* padding: 0px 50px; */
  background-image: url("../../assets/background_featuresss.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.container_work {
  display: flex;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.container_man_features {
  width: 230px;
  position: absolute;
  bottom: 0px;
  left: 30px;
}

.container_man_features img {
  width: 100%;
}

@media (max-width: 720px) {
  .container_man_features {
    bottom: -170px;
    z-index: 200;
    width: 170px;
    left: 30px;
  }
}

.containet_list_works {
  width: 600px;
  height: 610px;
  background-image: url("../../assets/trabajo_img.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.container_info_list {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  gap: 50px;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
}

.container_imgs_work {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto;
  padding: 10px;
  /* background: red; */
  justify-content: center;
  align-items: center;
}

.container_img_work {
  width: 480px;
}
.container_img_work img {
  width: 100%;
}

.card_feature {
  width: 350px;
  border-radius: 20px;
  height: auto;
  min-height: 350px;
  /* border: 1px solid red; */
  padding: 20px;
  color: #fff;
  background: #262626;
  display: flex;

  flex-direction: column;
  gap: 15px;
}

.card_feature h2 {
  font-weight: 600;
}

.card_feature p {
  font-size: 18px;
}

.container_title_card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.icon_title_card {
  width: 80px;
}

.icon_title_card img {
  width: 100%;
}
