.container_principal_vehicles {
  width: 100%;
  height: auto;
  min-height: 100vh;
  text-align: center;
  padding-top: 50px;
  background-image: url("../../assets/background_vehicles.svg");
  background-position: center;
  background-size: cover;
}

.container_title_vehicles_principal h1 {
  font-size: 4.5rem;
  font-weight: 800;
  padding: 10px;
}

.container_text_vehicles {
  max-width: 950px;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.card_vehicles {
  width: 390px;
  min-height: 500px;
  padding: 10px;
  background: #262626;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 20px;
}

.conatainer_img_card_vehicle {
  width: 100%;
  padding: 10px 10px 0px 10px;
}

.conatainer_img_card_vehicle img {
  width: 100%;
}

.container_text_vehicles p {
  color: #fff;
}

.container_title_car_vehicle h3 {
  font-weight: 600;
  color: #fff;
}

.container_title_car_vehicle {
  align-self: flex-start;
  padding: 10px;
}

.container_text_car_vehicle {
  width: 100%;
  padding: 0px 10px 0px 10px;
}

.container_text_car_vehicle p {
  color: #fff;
  text-align: left;
}

.btn_card_vehicles {
  width: 140px;
  height: 40px;
  padding: 5px;
  background: #305ee3;
  align-self: flex-start;
  color: #fff;
  border-radius: 12px;
  margin-left: 10px;
  text-decoration: none;
}

.btn_card_vehicles p {
  font-weight: 500;
}

.container_card_vehicles {
  /* background: red; */
  /* border: 1px solid #fff; */
  max-width: 1500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  height: auto;
}
