.container_principal_cars {
  width: 100%;
  height: auto;
  min-height: 100vh;
  text-align: center;
  padding-top: 50px;
  background-image: url("../../assets/background_social_media.svg");
  background-position: center;
  background-size: cover;
}

.container_title_vehicles_principal h1 {
  font-size: 4.5rem;
  font-weight: 800;
  padding: 10px;
}

.card_car {
  width: 390px;
  min-height: 300px;
  padding: 10px;
  background: #262626;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 20px;
}

.conatainer_img_card_vehicle {
  width: 100%;
  padding: 10px 10px 0px 10px;
}

.conatainer_img_card_vehicle img {
  width: 100%;
}

.container_title_car_vehicle h3 {
  font-weight: 800;
  color: #fff;
}

.container_title_car_vehicle {
  align-self: flex-start;
  padding: 10px;
}

.container_price_card,
.container_Maximum_speed {
  align-self: flex-start;
  padding: 0px 0px 0px 10px;
}

.container_price_card h4 {
  color: #fff;
  font-weight: 600;
}

.container_Maximum_speed {
  color: #fff;
}

.container_Maximum_speed p span {
  font-weight: 600;
}

.container_text_car_vehicle {
  width: 100%;
  padding: 0px 10px 0px 10px;
}

.container_text_car_vehicle p {
  color: #fff;
  text-align: left;
}

.btn_card_car {
  width: 140px;
  height: 40px;
  padding: 5px;
  background: #305ee3;
  align-self: flex-start;
  color: #fff;
  border-radius: 12px;
  margin-left: 10px;
  text-decoration: none;
}

.btn_card_car p {
  font-weight: 500;
}

.container_card_cars {
  /* background: red; */
  /* border: 1px solid #fff; */
  max-width: 1500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  height: auto;
}

.container_border_title_cars_disponibles {
  width: 200px;
}

.container_title_cars_disponibles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_border_title_cars_disponibles img {
  width: 100%;
}
